/* Add your CSS here to style your halloween page */
#wrapper{
    color:orange;
    background-color:black;
    font-family: "Bradley Hand", cursive	;
}
ul{
  margin: auto;
  background-color: orange; 
  list-style-type:circle;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul li {
    color:black;
  display: inline-block;
  font-size: 75px;
  padding: 30px;
   margin: 10px auto;

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width:750px; 
    height:700px;
}

h1{ 
    text-align: center;
    font-size: 100px;
    position: absolute;
    top: 100px;
    left: 500px;
}
section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1500px;
    border: 15px solid orange;
    padding: 50px;
    margin: 20px;
    border-radius:200px;
}
section h2{
    font-size: 60px;
    
}
